.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: white;
    border: white;
    
    
    
    
  }
  .main_content{
    border-radius: 10px ;
    background-color: white;
    margin: 10px;
    padding: 10px;
    
  
  }
  .create_new_blog{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: 140px;
    width: auto;
   padding: 15px;
  


  }
  
 .example {
  padding: 10px;
  font-size: 13px;
  width: 480px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 20px;

  margin-left:8px ;
}

  
  .row.content {height: 100% }

  
  footer {
    background-color: #1597E5;
    color: rgb(245, 243, 243);
    padding: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
  .post_react_comment_share{
      justify-content: space-around;
  }
  body{
  background-color:  rgb(228, 233, 238);
  box-shadow: 15px 15px 15px 15px rgb(228, 233, 238);
}
 